@import "parrot-css-palette.css";

nav a {
  font-family: "Roboto";
  font-weight: 500;
}

body {
  background-color: var(--black);
  color: var(--bright-white);
  overflow-x: hidden;
  letter-spacing: 1px;
}

body:not(.ready) {
  overflow: hidden;
}
body:not(.ready) [data-cloak],
body:not(.ready) .app-nav,
body:not(.ready) > nav {
  display: none;
}

.circle-box {
  max-width: 600px;
  min-width: 600px;
}

.circle-box p {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin: 0 !important;
  vertical-align: text-bottom;
}

.circle {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 5pt;
  text-align: center;
  color: var(--black);
  vertical-align: middle;
  padding-top: 12px;
  position: relative;
  top: -22px;
}

.circle.blue,
.circle.black,
.circle.dim-blue,
.circle.dim-black,
.circle.bright-black {
  color: var(--white);
}

div#app {
  background-color: var(--black);
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;
}

div#app:empty::before {
  content: "Loading...";
  color: var(--yellow);
}

.emoji {
  height: 1.2rem;
  vertical-align: middle;
}

.progress {
  background-color: var(--bright-magenta);
  height: 2px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: width 0.2s, opacity 0.4s;
  width: 0%;
  z-index: 999999;
}

img {
  max-width: 100%;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

kbd {
  border: solid 1px var(--yellow);
  background: var(--dim-magenta);
  color: var(--yellow);
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}
.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  color: #3f3f3f;
  fill: var(--dim-yellow);
  height: 80px;
  width: 80px;
}

main {
  font-family: "Merriweather", serif;
  height: 100%;
  --width: 960px;
  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);
  padding: 0;
}

main.hidden {
  display: none;
}

.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.8s;
  color: var(--bright-white) !important;
}

.anchor:hover {
  text-decoration: underline;
}

.sidebar,
.sidebar-toggle {
  display: none;
}

.content {
  vertical-align: top;
  overflow: hidden;
  width: 960px;
  margin: 0;
  display: inline-block;
}

.markdown-section p {
  text-align: justify;
}

.markdown-section > * {
  box-sizing: border-box;
}
.markdown-section > :first-child {
  margin-top: 0 !important;
}
.markdown-section hr {
  border: none;
  border-bottom: 1px solid var(--dim-red);
}
.markdown-section iframe {
  border: 1px solid #eee;
  /* fix horizontal overflow on iOS Safari */
  width: 1px;
  min-width: 100%;
}

.markdown-section table {
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
  word-break: initial;
}

.markdown-section table.js-file-line-container td {
  border: 0;
}
.markdown-section th {
  background-color: var(--dim-magenta);
  border: 1px solid var(--dim-magenta);
  font-weight: bold;
  padding: 6px 13px;
  color: var(--dim-black);
}

.markdown-section td {
  border: 1px solid var(--dim-magenta);
  padding: 6px 13px;
}

.markdown-section tr {
  background-color: var(--dim-black);
}

.markdown-section .js-file-line-container tr,
.markdown-section .js-file-line-container tr:nth-child(2n) td {
  background-color: white;
}

.markdown-section tr:nth-child(2n) td {
  background-color: hsla(310, 2%, 40%);
}

.markdown-section p.tip {
  background-color: var(--dim-white);
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}
.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #3f3f3f;
  content: "!";
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}
.markdown-section p.tip code {
  background-color: #efefef;
}
.markdown-section p.tip em {
  color: #c8c8c8;
}
.markdown-section p.warn {
  background: rgba(234, 111, 90, 0.1);
  border-radius: 2px;
  padding: 1rem;
}
.markdown-section ul.task-list > li {
  list-style-type: none;
}

@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
section.cover {
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;
}
section.cover.show {
  display: flex;
}
section.cover.has-mask .mask {
  background-color: #3f3f3f;
  opacity: 0.8;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
section.cover .cover-main {
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}
section.cover a {
  color: inherit;
  text-decoration: none;
}
section.cover a:hover {
  text-decoration: none;
}
section.cover p {
  line-height: 1.5rem;
  margin: 1em 0;
}
section.cover h1 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.625rem 0 2.5rem;
  position: relative;
  text-align: center;
}
section.cover h1 a {
  display: block;
}
section.cover h1 small {
  bottom: -0.4375rem;
  font-size: 1rem;
  position: absolute;
}
section.cover blockquote {
  font-size: 1.5rem;
  text-align: center;
}
section.cover ul {
  line-height: 1.8;
  list-style-type: none;
  margin: 1em auto;
  max-width: 500px;
  padding: 0;
}
section.cover .cover-main > p:last-child a {
  border-color: var(--theme-color, #ea6f5a);
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--theme-color, #ea6f5a);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--theme-color, #ea6f5a);
  color: #fff;
}
section.cover .cover-main > p:last-child a:last-child:hover {
  color: inherit;
  opacity: 0.8;
}
section.cover .cover-main > p:last-child a:hover {
  color: inherit;
}
section.cover blockquote > p > a {
  border-bottom: 2px solid var(--theme-color, #ea6f5a);
  transition: color 0.3s;
}
section.cover blockquote > p > a:hover {
  color: var(--theme-color, #ea6f5a);
}

.sidebar li {
  margin: 6px 15px 6px 0;
}
.sidebar ul li a {
  color: var(--white);
  font-size: 14px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}
.sidebar ul li ul {
  padding: 0;
}
.sidebar ul li.active > a {
  color: var(--magenta);
  font-weight: 600;
}

.markdown-section h1 {
  border-bottom: 1px solid var(--dim-red);
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* markdown content found on pages */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  font-weight: 600;
  color: var(--yellow);
}
.markdown-section a {
  color: var(--dim-red);
}

.markdown-section ul,
.markdown-section ol {
  padding-left: 1.5rem;
}

.markdown-section blockquote {
  border-left: 4px solid var(--dim-red);
  color: var(--dim-black);
  margin: 2em 0;
  padding-left: 20px;
}
.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.markdown-section iframe {
  margin: 1em 0;
}
.markdown-section em {
  color: var(--dim-yellow);
}
.markdown-section code.lang-js {
  background-color: var(--bright-black);
  border-radius: 2px;
  color: var(--white);
  font-family: "Roboto Mono", Monaco, courier, monospace;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}
.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: var(--gray1);
  font-family: "Roboto Mono", Monaco, courier, monospace;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--dim-green);
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.number {
  color: var(--bright-blue);
}
.token.punctuation {
  color: var(--dim-magenta);
}
.token.function {
  color: var(--orange);
}
.token.tag {
  color: var(--magenta);
}
.token.string {
  color: var(--dim-green);
}
.token.selector {
  color: var(--black);
}
.token.attr-name {
  color: var(--black);
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--black);
}
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: var(--black);
}
.token.keyword {
  color: var(--red);
}
.token.statement,
.token.regex,
.token.atrule {
  color: var(--yellow);
}
.token.placeholder,
.token.variable {
  color: var(--yellow);
}
.token.deleted {
  text-decoration: line-through;
}
.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}
.token.italic {
  font-style: italic;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.important {
  color: var(--red);
}
.token.entity {
  cursor: help;
}
.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: var(--gray2);
  border-radius: 2px;
  color: var(--white);
  display: block;
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-size: 0.8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
}
.markdown-section code::after,
.markdown-section code::before {
  letter-spacing: 0.05rem;
}
code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}
pre::after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

input[type="search"] {
  background: #4f4f4f;
  border-color: #4f4f4f;
  color: #c8c8c8;
}

.app-nav {
  text-align: center;
}

.app-nav li {
  display: inline-block;
  width: 70px;
  font-size: 120%;
}
